* {
  box-sizing: content-box;
}

html {
  height: 100%;
}

body#root {
  background-image: linear-gradient(45deg, #f96308, transparent);
  background-repeat: no-repeat;
  min-height: 100%;
  margin: 0px;
  height: 100%;
  min-height: 100%;
}

body#root:not(.chat) nav {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  height: 80px;
  background-color: antiquewhite;
  position: absolute;
  top: 0%;
  left: 0%;
}

body#root:not(.chat) nav ul {
  height: 100%;
  display: flex;
  padding: 0px;
  list-style-type: none;
}

body#root:not(.chat) nav ul > li {
  height: 100%;
  min-width: 80px;

  border-left: 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
}

/** Login && Register Page **/
.register_ctn,
.login_ctn {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}

.register_ctn form,
.login_ctn form {
  border: 1px solid white;
  border-radius: 15px;
  box-sizing: content-box;
  padding: 15px;
  box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, 0.5);
}

.register_ctn form fieldset,
.login_ctn form fieldset {
  width: 350px;
  border-radius: 10px;
  padding: 14px;
  margin-bottom: 15px;
}

.register_ctn form label,
.login_ctn form label {
  display: flex;
  justify-content: space-between;
}

.register_ctn form fieldset > div:not(:last-child),
.login_ctn form fieldset > div:not(:last-child) {
  margin-bottom: 15px;
}

.login_ctn .btn_ctn {
  display: flex;
  justify-content: space-between;
}

.register_ctn .btn_ctn {
  display: flex;
  justify-content: end;
}

/** Main Chat **/

body#root.chat {
  display: flex;
  flex-direction: row;
}

body#root.chat nav {
  width: 300px;
  display: flex;
  height: 100%;
  background-color: antiquewhite;
  flex-direction: column;
}

body#root.chat nav > * {
  box-sizing: border-box;
}

body#root.chat nav input,
body#root.chat nav button {
  height: 30px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 5px;
}

body#root.chat nav ul {
  height: calc(100% - 20px);
  display: flex;
  padding: 0px;
  list-style-type: none;
  overflow-y: auto;
}

body#root.chat nav ul > li {
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

body#root.chat .chat_container {
  width: 100%;
  height: inherit;
}

body#root.chat .chat_container .chat_message_ctn {
  height: calc(100% - 65px);
}

body#root.chat .chat_container .chat_textbox_ctn {
  height: 65px;
  padding: 15px;
}

body#root.chat .chat_container .chat_textbox_ctn form > textarea {
  resize: none;
  width: 100%;
  height: calc(100% - 30px);
}

dialog.popup_modal {
  min-width: 50%;
  max-height: 70%;
  border: 1px solid;
  border-radius: 10px;
  padding: 0px;
  min-height: 30px;
}

dialog.popup_modal .popup_modal_header {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

dialog.popup_modal .popup_modal_header .popup_modal_title {
  padding-left: 15px;
}

dialog.popup_modal .popup_modal_body {
  padding: 15px;
}
